:root {
  font-family: "Zen Kaku Gothic Antique";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  scroll-behavior: smooth;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  /* color: #535bf2; */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.5vw;
}
h2 {

}
p {

}
.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 15vw;
  justify-content: center;
  align-self: center;
  align-items: center;
  position: relative;
}
.navbar .line {
  position: absolute;
  bottom: 0;
  width: 90vw;
}
.navbar a {
  padding: 0vw 1vw;
  border-radius: 5%;
  height: min-content;
  /* filter: drop-shadow(0 6px 20px rgb(56, 125, 255)); */
  transition: all 0.2s ease-in;
}
.navbar a:hover {
  transform: scale(1.1);
  color: #535bf2;
  filter: drop-shadow(rgba(0, 98, 255, 0.1) 0.4vw 0.8vw 0.8vw );  
}

.landing-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas: 'nav' 'name' 'icons';
}
.name {
  grid-area: name;
  font-weight: 300;
  font-size: 12vw;
  line-height: 130%;
  letter-spacing: 0.05em;
  align-self: center;
  justify-self: center;
}
.sanchez {
  font-weight: 500;
  position: relative;
}
.sanchez::before {
  content: "SANCHEZ";
  position: absolute;
  left: -0.7vw;
  top: -0.4vw;
  color: #58E6FF;
  z-index: -1;
  opacity: 75%;
}
.sanchez::after {
  content: "SANCHEZ";
  position: absolute;
  left: 0.7vw;
  top: 0.4vw;
  color: #FF59B7;
  opacity: 75%;
  z-index: -1;
}
.icons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 5vw
}
.icons-container img {
  width: 3vw;
  transition: all 0.2s ease-in;
}
.icons-container img:hover {
  transform: scale(1.1);
}
.projects-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 5vh 0;
}
.projects-container .line{
  position: absolute;
  top: 0;
  width: 90vw;
  opacity: 25%;
} 
.projects-container h1{
  padding: 2vh 2vw;
  align-self: flex-start;
}
.project-container {
  width: 90vw;
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.project-container .title {
  font-size: 3vw;
  align-self: start;
}
.project-container a {
  width: 80%;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(rgba(0, 98, 255, 0.1) 0.4vw 0.8vw 0.8vw );
}
.project-container img {
  width: 100%;
}
.project-container a:hover {
  transform: scale(1.05);
}
.project-container a::after {
  max-width: 100%;
  max-height: 100%;
  color: white;
  font-weight: 500;
  font-size: 1.5vw;
  background: linear-gradient(22.5deg, rgba(255, 89, 183, .6) 20%, rgba(88, 230, 255, 0.5) 100%);
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 7px;
  left: 3px;
  opacity: 0;
  transition: all 0.2s ease-in;
  display: flex;
  align-items: end;
  padding: 20px;
}
.project-container a:hover::after {
  opacity: 1;
}
.cpu a::after {
  content: 'Visualization of how a simple RISC-V processor works';
}
.music a::after {
  content: 'Responsive website showcasing a music collection';
}
.experience-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience-container .line{
  position: absolute;
  top: 0;
  width: 90vw;
  opacity: 25%;
} 
.experience-container h1{
  padding: 2vh 2vw;
  align-self: flex-start;
}
.job-card {
  margin: 5vh 5vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25vw;
  aspect-ratio: 420/460;

  color: #fff;
  font-size: 2.25vw;
  transition: all 0.2s ease-in;
  filter: drop-shadow(rgba(0, 98, 255, 0.1) 0.4vw 0.8vw 0.8vw );
}
.job-card:hover{
  /* FIX WHEN ADDING JOB EXPERIENCE */
  /* transform: scale(1.05); */
  cursor: default;
}
.job-title {
  font-weight: 700;
  margin: 5vh 0;
}
.job-date {
  font-weight: 400;
  margin: 5vh 0;
}
.job-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.exp-cont {
  display: flex;
  flex-direction: row;
}
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5vh 0;
}
.footer-container .line{
  position: absolute;
  top: 0;
  width: 90vw;
} 
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}
.footer-container img {
  width: 3vw;
  transition: all 0.2s ease-in;
}
.footer-container img:hover {
  transform: scale(1.1);
}
.contact-container {
  margin: 0 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
}
.contact {
  font-weight: 500;
  font-size: 1.5vw;
}
.contact-info{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  font-size: 1vw;
}